includes:
    - phpstan-baseline.neon

parameters:
    level: 9
    paths:
        - src
        - config
        - database
    tmpDir: build/phpstan
    checkOctaneCompatibility: true
    checkModelProperties: true
    ignoreErrors:
        -
            message: '#Elegantly\\Kpi\\Models\\Kpi#'
            identifier: missingType.generics
        -
            message: '#Elegantly\\Kpi\\KpiDefinition#'
            identifier: missingType.generics
